.chat {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: all 0.3s ease;
  bottom: 0;
  right: 0;
}

.min {
  height: 450px;
  width: 300px;
}

.max {
  height: 100%;
  width: 100%;
  z-index: 999;
}

.local {
  text-align: right;
}

.remote {
  text-align: left;
}

.chat > button {
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.chat > div {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.chat form {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.chat input {
  box-sizing: border-box;
  margin-right: 10px;
  transition: all 0.3s ease;
  width: 100%;
}

.chat form button { 
  cursor: pointer; 
}
